---
import Layout from '@layouts/Layout.astro';

const { id } = Astro.props;
const title = 'Home';
---

<Layout>
  <div data-sb-object-id="a59d87e4-e3ff-4929-acc1-d67b1808d36c">
    <button class="btn btn-primary">
      Click me 
    </button>
  </div>
</Layout>
