---
import Layout from '@layouts/Layout.astro';
const title = 'Home';
---

<Layout>
    <div data-sb-object-id="a59d87e4-e3ff-4929-acc1-d67b1808d36c">
		<video src="/demo.mp4" controls autoplay muted loop width="640" height="360" style="max-width: 100%; height: auto;">
		  	The browser you are using does not support the video tag. 
		</video>
    </div>
</Layout>
