---
import Layout from '@layouts/Layout.astro';

import { marked } from 'marked';

const titleSuffix = 'Voyager';
const pageTitle = 'Home';
const title = [pageTitle, titleSuffix].filter(Boolean).join(' | ');
const canonicalURL = new URL(Astro.request.url, Astro.site);

/**
 * Enforce some standard canonical URL formatting across the site.
 */
function formatCanonicalURL(url: string | URL) {
    const path = url.toString();
    const hasQueryParams = path.includes('?');
    if (hasQueryParams) {
        path.replace(/\/?$/, '');
    }
    return path.replace(/\/?$/, hasQueryParams ? '' : '/');
}
---

<!doctype html>
<html lang="en" style=" --color-primary: #ffae9c; --color-primary-content: #171227; --color-secondary: #fff2d7; --color-secondary-content: #171227; --color-accent: #e3f1ff; --color-accent-content: #171227; --color-neutral: #171227; --color-neutral-content: #ffffff; --color-base-100: #ffffff; --color-base-200: #d7d8e4; --color-base-content: #171227;">
    <head>
        <!-- High Priority Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>{title}</title>
        <meta name="generator" content={Astro.generator} />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />

        <!-- Page Metadata -->
        <link rel="canonical" href={formatCanonicalURL(canonicalURL)} />
        <meta name="description" content= "" />
    </head>
    <body class="antialiased bg-neutral text-white">
        <div class="flex justify-center items-center min-h-screen w-full ">
            <h1 class="text-center text-4xl sm:text-6xl font-extrabold tracking-tight leading-tight text-white drop-shadow-lg">
                Voyager: Real-Time Splatting City-Scale 3D Gaussians on Your Phone
            </h1>
        </div>

        <slot />
        
        <footer class="flex justify-center px-4 py-16 sm:px-5 sm:py-24">
            <div class="text-center" set:html={marked.parse("Voyager @ 2025")} />
        </footer>
    </body>
</html>
